<div class="desc">
  <h2>أرقام فريق المبيعات</h2>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="268"
    height="10"
    viewBox="0 0 268 10"
    fill="none"
  >
    <path
      d="M0.205078 7.57447C39.5465 3.28756 148.024 -2.7141 267.205 7.57447"
      stroke="#3946F2"
      stroke-width="3.78723"
    />
  </svg>
  <p>دلوقت ممكن توصل لكل فريق مبيعاتنا بسهوله وفي مكان واحد!</p>
</div>
<div class="float-img">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="50"
    height="75"
    viewBox="0 0 50 75"
    fill="none"
  >
    <circle
      cx="37.0064"
      cy="37.0062"
      r="37"
      transform="rotate(60 37.0064 37.0062)"
      fill="#4FE0B6"
    />
  </svg>
</div>
<div class="slider">
  <app-slider [cards]="cards"></app-slider>
</div>
