<div class="header-container">
  <div class="logo">
    <img src="images/logo.png" alt="logo" />
  </div>

  <div class="menu-toggle" [class.active]="isMenuOpen" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <div class="menu-wrapper" [class.active]="isMenuOpen">
    <div class="menu-items">
      <ul>
        <li><a>الصفحة الرئيسية</a></li>
        <li><a>منتجاتنا</a></li>
        <li><a>البراندات</a></li>
        <li><a>اخر الأخبار</a></li>
        <li><a>عنا</a></li>
        <li><a>تواصل معنا</a></li>
      </ul>
    </div>
  </div>
  <div class="actions">
    <app-regular-btn [config]="browseBtn"></app-regular-btn>
    <app-regular-btn [config]="combBtn"></app-regular-btn>
  </div>
</div>
