:host ::ng-deep{
    .p-fileupload-header
    {
        display: none;
    }
    .p-fileupload-advanced
    {
        border: none;
    }
    .p-fileupload-content
    {
        padding: 0;
        flex-direction: column-reverse;
    }    
    .p-select
   {
        border-radius: 16px;
        border: 1px solid var(--Grey-6, #EEE) !important;
        background: var(--Grey-3, #F4F4F4);
        display: flex;
        padding: 20px 24px;
        align-items: center !important;
        align-self: stretch;
        outline: none;
        width: 100%;
    }
}
 .contact-us-wrapper
    {
        display: flex;
        align-items: center;
        padding: 120px 60px;
        gap: 40px;

        @media(max-width: 992px)
        {
            & 
            {
                padding: 16px;
                flex-direction: column;
            }
        }

        & > div 
        {
            width: 50%;
             @media(max-width: 992px)
        {
            & 
            {
                width: 100%;
            }
        }
        }
        .stores-container
        {
            display: flex;
            align-items: center;
            gap: 16px;

            @media(max-width: 992px)
            {
                &
                {
                    display: none;
                }
            }

            .store-container
            {
                display: flex;
                flex-direction: column;
                gap: 2px;
                .store-name
                {
                    color: var(--Midnight, #01021D);
                    font-feature-settings: 'liga' off, 'clig' off;
                    font-size: 20.135px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 31.881px; /* 158.333% */
                    letter-spacing: -0.929px;
                }
                .store-address
                {
                    overflow: hidden;
                    color: var(--Ship-Gray, #4D4D60);
                    font-feature-settings: 'liga' off, 'clig' off;
                    text-overflow: ellipsis;
                    font-size: 15.101px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 23.491px; /* 155.556% */
                    letter-spacing: -0.697px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                .store-mobile
                {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    a 
                    {
                        color: #3E54D3;
                        font-feature-settings: 'liga' off, 'clig' off;
                        font-size: 15.101px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 23.491px; /* 155.556% */
                        letter-spacing: -0.697px;
                    }
                }
            }
        }
        .data-desc
        {
            display: flex;
            flex-direction: column;
            gap: 32px;

            .head
            {
                h2 
                {
                    margin: 0;
                    color: #000;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 60.07px; /* 123.448% */

                    @media(max-width: 992px)
                    {
                        & 
                        {
                            font-size: 24px;
                            line-height: 26px;
                        }
                    }
                }
            }
        }

        .form-container
        {
            display: flex;
            padding: 40px;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            flex-shrink: 0;
            border-radius: 32px;
            border: 1px solid var(--Grey-6, #EEE);
            background: var(--Grey, #FBFBFB);

            @media(max-width: 992px)
            {
                & 
                {
                    padding: 20px;
                }
            }

            form 
            {
                display: flex;
                flex-direction: column;
                gap: 12px;
                width: 100%;

                .input-container
                {
                    width: 100%;
                    input , textarea
                    {
                        border-radius: 16px;
                        border: 1px solid var(--Grey-6, #EEE);
                        background: var(--Grey-3, #F4F4F4);
                        display: flex;
                        padding: 20px 24px;
                        align-items: flex-start;
                        align-self: stretch;
                        outline: none;
                        width: 100%;
                    }
                    textarea 
                    {
                        height: 144px;
                        resize: none;
                    }

                    &.file 
                    {
                        border-radius: 16px;
                        border: 1px solid var(--Grey-6, #EEE);
                        background: var(--Grey-3, #F4F4F4);
                        display: flex;
                        padding: 20px 24px;
                        align-items: flex-start;
                        align-self: stretch; 
                        flex-direction: column;
                        gap: 20px;

                        label
                        {
                            color: var(--Ship-Gray, #4D4D60);
                            font-feature-settings: 'liga' off, 'clig' off;
                            font-size: 15.101px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 23.491px; /* 155.556% */
                            letter-spacing: -0.697px;
                        }
                    }
                }
            }
            .custom-uploader
            {
                border-radius: 10px;
                border: 1px dashed #7C7C7C;
                background: #FFF;
                display: flex ;
                height: 75px;
                padding: 20px 0;
                justify-content: center;
                align-items: center;
                gap: 10px;
                align-self: stretch;
                p 
                {
                    margin: 0;
                    span 
                    {
                        color: var(--Ship-Gray, #4D4D60);
                        text-align: center;
                        font-feature-settings: 'liga' off, 'clig' off;
                        font-size: 15.101px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 23.491px; /* 155.556% */
                        letter-spacing: -0.697px;
                    }
                }
            }
            .actions
            {
                padding-block: 16px;

                button 
                {
                    border-radius: 10px;
                    background: #3E54D3;
                    display: flex;
                    padding: 8px 12px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    align-self: stretch;
                    color: #FFF;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    cursor: pointer;
                    border: none;
                    width: 100%;
                    transition: 0.25s ease ;

                    &:hover 
                    {
                        background-color: #2f3fa0;
                    }
                }
            }
        }
    }