.direct-contacts {
  display: flex;
  align-items: stretch;
  gap: 150px;
  justify-content: center;

  @media(max-width: 992px)
  {
    &
    {
        gap: 16px;
        padding: 40px;
        padding-inline: 16px;
    }
  }
}

.contact-person {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.image-container {
  height: 350px;
  width:  285px;
  overflow: hidden;
  text-align: center;
  display: flex;
  position: relative;
}
.contact-person img {
    width: 100%;
    object-fit: contain;
    background-color: #F9BEBA;
    clip-path: path("M0 25.7478L13.9741 21.0678C102.405 -8.54825 198.324 -6.89609 285.682 25.7478V326.698C196.692 306.42 104.397 305.377 14.9712 323.641L0 326.698V25.7478Z");
}

/* second shape */
.contact-person.peach
{
    .image-container
    {
        height: 380px;
    }
    img {
        background-color:#FEDDC0;
        clip-path: path("M0 0L21.1581 9.06335C106.293 45.5319 203.243 42.2101 285.682 0V300.95C205.731 353.982 102.893 358.049 19.0036 311.496L0 300.95V0Z");
    }
    
}
.contact-data
{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    background: #4FE0B6;
    padding: 8px 12px;
    bottom: 25%;
    text-align: start;
    width: 75%;
    
    @media(max-width: 768px)
    {
        &{
            width: 50%;
            right: 50px;
        }
    }

    h2 
    {
        margin: 0 ;
        color: #000;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; /* 170.476% */
        @media(max-width: 992px)
        {
            & 
            {
                line-height: 17.536px;
                font-size: 8px;
            }
        }
    }
    p
    {
        margin: 0 ;
        color: #000;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @media(max-width: 992px)
        {
            & 
            {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}
.contact-info
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    .contact-whatsapp
    {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;

        span 
        {
            color: #000;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 27px */

            @media(max-width: 992px)
            {
                & 
                {
                    font-size: 12px;
                }
            }
        }
    }
    .social 
    {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}