.hero-section
{
    height: 75vh;
    background-image: url('./../../../../../../public/images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 100%;
    display: flex;
    justify-content: center;
    padding-inline: 80px;
    flex-direction: column;
    gap: 32px;

    @media(max-width:768px)
    {
        &
        {
            background-image: url('./../../../../../../public/images/hero-mob.png');
            padding: 10%;
            justify-content: start;
        }
    }
    
    .description
    {
        width: 50%;

        @media(max-width:992px)
        {
            &
            {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;
                align-items: center;
            }
        }

        
    h1 
    {
        color: #000;
        text-align: start;
        font-size: 68px;
        font-style: normal;
        font-weight: 700;
        line-height: 71.6px; /* 105.294% */
        margin: 0;

        @media(max-width:992px)
        {
            &
            {
                font-size: 32px;
                line-height: 42px;
            }
        }
    }

    p 
    {
        color: #6A6A6A;
        text-align: start;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 81.6px; /* 408% */
        margin: 0;
        @media(max-width:992px)
        {
            &
            {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
    }
    
    .actions
    {
        display: none;
    }

    @media(max-width:768px)
    {
        .action
        {
            display: none;
        }
           .actions
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
    }

}