<div class="hero-section">
  <div class="description">
    <h1>هنساعدك توصلنا بسهوله</h1>
    <p>عشان شريك قلبه عليك, وفرنالك كل أرقام الفروع والمبيعات في مكان واحد</p>
  </div>

  <div class="action">
    <app-regular-btn [config]="browseBtn"></app-regular-btn>
  </div>

  <div class="actions">
    <app-regular-btn
      style="width: 100%"
      [config]="browseBtnMob"
    ></app-regular-btn>
    <div class="cont">
      <app-regular-btn
        style="width: 100%"
        [config]="shareBtn"
      ></app-regular-btn>
      <app-regular-btn style="width: 100%" [config]="combBtn"></app-regular-btn>
    </div>
  </div>
</div>
