.card {
    padding: 15px;
    border: 2px solid #00000033;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    justify-content: space-between;

    & .media {
        max-width: 60px;
        aspect-ratio: 1;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    & h5 {
        font-weight: 500;
        font-size: 30px;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: right;
    }

    & p {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: right;
        color: #9D9D9D;
    }

    & h6 {
        font-weight: 500;
        font-style: Medium;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0px;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
        color: #4F80E2;
    }
}