.contacts {
    display: flex;
    flex-direction: column;
    gap: 120px;

    & .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-width: 58%;
        margin: 0 auto;

        & h5 {
            font-weight: 500;
            font-style: Medium;
            font-size: 72px;
            line-height: 72px;
            letter-spacing: 0%;
            text-align: center;
            background: linear-gradient(91.72deg, #757575 4.54%, #CCCCCC 49.88%, #454545 84.03%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        & p {
            font-weight: 400;
            font-size: 22px;
            line-height: 30px;
            letter-spacing: 0%;
            text-align: center;
            color: #9D9D9D;
        }
    }

    & .contacts-info {
        max-width: 70.33%;
        display: flex;
        align-items: stretch;
        gap: 10px;
        margin: 0 auto;
        flex-wrap: wrap;

        &>* {
            flex: 1
        }
    }

}