.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #E3E3E3;
    border-radius: 8px;
    padding: 12px;
    color: #FFFFFF;
    height: 237px;
    min-width: 216px;

    & .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & p {
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0px;
            vertical-align: middle;
        }
    }

    & .body {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 16px;

        & h4 {
            font-weight: 600;
            font-size: 26px;
            line-height: 25.2px;
            letter-spacing: 0px;
            text-align: right;
            vertical-align: middle;
            max-width: 50%;
            margin-left: auto;
            text-align: right;
            margin: 0;
        }

        & p {
            font-weight: 400;
            font-size: 14px;
            line-height: 16.8px;
            letter-spacing: 0px;
            vertical-align: middle;
            text-align: right;
            margin: 0;
        }
    }
}