.news {
    display: flex;
    flex-direction: column;
    gap: 120px;

    & .black-friday {
        width: 78.05%;
        margin: 0 auto;
    }

    & .branches-gallary {
        width: 78.05%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        & h4 {
            max-width: 366px;
            font-weight: 400;
            font-size: 54px;
            line-height: 64.8px;
            letter-spacing: -2.49px;
            text-align: center;
        }

        & .gallary {
            display: flex;
            align-items: center;
            gap: 5px;


            @media (max-width:780px) {
                flex-wrap: wrap;
                justify-content: center;
            }

            & .big-pic {
                width: 100%;
                position: relative;
                margin: 0 auto;

                @media (max-width:780px) {
                    & img {
                        width: 100%;
                        height: auto;
                    }
                }

                & .caption {
                    position: absolute;
                    bottom: 40px;
                    inset-inline-start: 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    color: #FFFFFF;

                    & h5 {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 28px;
                        letter-spacing: -0.83px;
                    }

                    & p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 27px;
                        letter-spacing: -0.74px;
                    }
                }
            }

            & .pics {
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 10px;
                column-gap: 5px;

                @media (max-width:780px) {
                    & {
                        & img {
                                width: 100%;
                            }
                    }
                }

            }

        }


    }
}