.card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:780px) {
        flex-direction: column-reverse;
        justify-content: center;
        // align-items: center;
    }

    & .media {
        width: 49%;
        height: auto;

        @media (max-width:780px) {
            width: 100%;
        }

        & video {
            width: 100%;
            height: 322px;
            background: #000;
        }
    }

    & .content {
        display: flex;
        flex-direction: column;
        gap: 52px;
        width: 40%;

        @media (max-width:780px) {
            width: 100%;
        }

        & h4 {
            font-weight: 500;
            font-style: Medium;
            font-size: 56px;
            line-height: 66.8px;
            letter-spacing: 0%;
            text-align: right;
        }

        & p {
            font-weight: 400;
            font-size: 22px;
            line-height: 31.2px;
            letter-spacing: 0%;
            text-align: right;
            color: #7B7B7B;
        }
    }
}