
.card-container 
{
    position: relative;
    max-height: 550px;
    .card-image
    {
        display: flex;
        padding-top: 46px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border-radius: 30px 30px 0 0;
        img 
        {
            max-width: 100%;
            height: 200px;
            object-fit: contain;
        }
    }
    .card-info 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        display: flex;
        padding: 11.187px 22.374px;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        border-radius: 12.617px;
        background: rgba(255, 255, 255, 0.20);
        width: auto;
        max-width: 260px;
        margin: auto;
        transform: translateY(-50%);

        @media(max-width:992px)
        {
            &
            {
                transform: translateY(-15%);
            }
        }


        .member-data
        {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;

            h3 
            {
                margin: 0;
                color: #000;
                text-align: center;
                font-size: 19.846px;
                font-style: normal;
                font-weight: 700;
                line-height: 130%; /* 25.8px */
            }
            p 
            {
                margin: 0;
                color: #000;
                text-align: center;
                font-size: 15.436px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 23.154px */

                @media(max-width: 768px)
                {
                    &{
                        display: none;
                    }
                }
            }
            a 
            {
                color: #3E54D3;
                text-align: center;
                font-size: 15.436px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 23.154px */
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: none;
                text-decoration-thickness: auto;
                text-underline-offset: auto;
                text-underline-position: from-font;
            }
        }
        .info-social 
        {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;


                @media(max-width: 768px)
                {
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    gap: 12px;

                    a 
                    {
                        display: flex;
                        justify-content: center;
                    }
                }
        }
    }
}

